@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>
            <h3>Foo = @ViewData["Foo"]</h3>
            <h3>DbValue = @ViewData["DbValue"]</h3>
        </p>
        <a asp-area="" asp-controller="Home" asp-action="ChangeConfig">Reload Config</a>
    </div>
